@font-face {
    font-family: 'FredokaOne';
    src: url('Assets/Fonts/FredokaOne-Regular.ttf') format('woff2');
}

@font-face {
    font-family: 'RobotoMono';
    src: url('Assets/Fonts/RobotoMono-Regular.ttf') format('woff2');
}

:root {
    --fredoka-main: 'FredokaOne';
    --fredoka-sans-serif: 'FredokaOne', sans-serif;
    --roboto-main: 'RobotoMono';
    --roboto-sans-serif: 'RobotoMono', sans-serif;
    --blue-color: #0b2545;
    --white-color: #f2f2f2;
    --orange-color: #d96c06;
    --orange-background: #db6d0680;
    --peach-color: #ffcfa2;
    --peach-background: #ffcfa280;

}


* {
    margin: 0;
    padding: 0;
}