/*:root {
    --main-font: 'FredokaOne';
    --main-font-sans-serif: 'FredokaOne', sans-serif;
    --second-font: 'RobotoMono';
    --second-font-sans-serif: 'RobotoMono', sans-serif;
    --primary: #0b2545;
    --secondary: #f2f2f2;
    --tertiary: #d96c06;
    --quator: #ffcfa2;
    --primary-background-color: #0b264680;
    --secondary-background-color: #f2f2f280;
    --tertiary-background-color: #db6d0680;
    --quator-background-color: #ffcfa280;
}

@font-face {
    font-family: 'FredokaOne';
    src: url('../Assets/Fonts/FredokaOne-Regular.ttf') format('truetype');
}
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);


    .home-cta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: url('assets/keskonmange_vide.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
        color: var(--primary);
        font-weight: bold;
        font-size: 2.6rem;
        text-align: center;

        .font-family {
            /*change rle nom !!!!*/
            font-weight: bold;
            font-size: 5.4rem;
            color: var(--tertiary);
        }

        .text-intro img {
            width: 44rem;
        }

        .slogan {
            padding: 1.8rem 0 2rem 0;
        }

        .test-btn {
            display: inline-block;
            font-weight: 100;
            font-size: 1.8rem;
            text-decoration: none;
            color: white;
            background-color: green;
            border: 4px solid transparent;
            /* pour éviter le décalage des blocs lors du hover*/
            border-radius: 10px;
            padding: 2rem 3rem;
            transition: all 0.2s ease;

            &:hover {
                transform: scale(1.1);
                background-color: white;
                color: green;
                border: 4px solid green;
                box-shadow: 0px 0px 30px rgb(214, 252, 214);
                cursor: pointer;
            }
        }
    }

    .title-section {
        color: var(--primary);
        font-size: 2.2rem;
        padding-bottom: 2rem;
        text-align: center;
    }

    .box-section {
        width: 100%;
        margin: auto;
        background-color: var(--quator-background-color);
        padding: 2rem 0;


        .wrapper {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            #prev,
            #next {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 2rem;
                color: white;
                background-color: var(--tertiary);
                border: none;
                border-radius: 50%;
                width: 2.4rem;
                height: 2.4rem;
                cursor: pointer;
                line-height: 0;
            }

            #prev span {
                display: inline-block;
                transform: rotate(180deg);
            }

            .carousel-container {
                width: 58rem;
                padding: 1rem 0;
                overflow: hidden;
                /*indispensable dans ce div*/

                .cards {
                    display: flex;
                    align-items: center;
                    gap: 2rem;
                    width: 56rem;
                    padding: 1rem;
                    margin: 0 1rem;
                    transition: transform 0.4s ease;

                    /* augusta BOX CARD */

                    .box-card {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        background: white;
                        border-radius: 20px;
                        overflow: hidden;
                        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
                        height: 190px;
                        /*width: 100%; version augusta*/
                        width: 50%;
                        transition: 0.3s;
                        flex-shrink: 0;
                        /*empeche les .box-card de se réduire pour s'ajuster à la width de .cards - ainsi chaque .box-card fait bien 50% de .cards*/

                        &:hover {
                            transform: translateY(-6px);
                            box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
                        }

                        /* LEFT SIDE */

                        .box-left {
                            padding: 25px;
                            background: #f7f2ed;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            gap: 6px;
                            width: 55%;

                            .box-title {
                                display: flex;
                                align-items: center;
                                gap: 8px;

                                .mini-logo {
                                    width: 20px;
                                }

                                h3 {
                                    color: var(--primary);
                                    /*font-family: var(--main-font);*/
                                    font-size: 16px;
                                    text-align: left;
                                }
                            }

                            p {
                                /*font-family: var(--main-font);*/
                                font-size: 13px;
                                color: var(--primary);
                                text-align: left;
                            }

                            /* PRICE */

                            .price {
                                color: var(--primary);
                                /*font-family: var(--main-font);*/
                                font-size: 18px;
                                font-weight: bold;
                                margin-top: 5px;
                                text-align: left;
                            }

                            /* ORDER BUTTON */

                            .btn-order {
                                margin-top: 8px;
                                background: var(--tertiary);
                                border: none;
                                color: white;
                                /* font-family: var(--main-font);*/
                                padding: 8px 18px;
                                border-radius: 8px;
                                cursor: pointer;
                                box-shadow: 0 4px 12px rgba(217, 108, 6, 0.4);
                                transition: 0.3s;

                                &:hover {
                                    transform: translateY(-2px);
                                    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
                                }
                            }
                        }

                        .box-image {
                            width: 45%;
                            height: 100%;
                            position: relative;
                            overflow: hidden;

                            &::before {
                                content: "";
                                position: absolute;
                                left: 0;
                                top: 0;
                                height: 100%;
                                width: 90px;
                                background: linear-gradient(to right,
                                        #F7F2ED,
                                        rgba(247, 242, 237, 0));
                                z-index: 2;

                            }

                            img {
                                width: 120%;
                                height: 100%;
                                object-fit: cover;

                            }
                        }
                    }

                    /*fin augusta*/
                }
            }
        }

        .dots {
            padding: 20px 0;
            width: 100%;
            margin: auto;
            text-align: center;

            .dot {
                background-color: white;
                border-radius: 50%;
                border: none;
                width: 20px;
                height: 20px;
                cursor: pointer;
            }

            .active {
                background-color: grey;
            }
        }
    }

    .text-section {
        background-image: radial-gradient(circle, var(--primary), var(--tertiary));
        padding: 2rem 0;
        width: 100%;
        text-align: center;

        h2 {
            color: white;
            padding-bottom: 2rem;
            font-weight: 100;
        }

        p {
            color: white;
            font-size: 1.4rem;
            padding-bottom: 1.6rem;
            line-height: 1.4em;
            font-weight: 100;
        }
    }

    .kommu-section {
        color: var(--primary);
        width: 100%;
        margin: auto;
        background-color: var(--quator-background-color);
        padding: 2rem 0;

    }
}