@media screen and (max-width:1100px) {
    .home-cta {
        position:relative;

        .text-intro {
            position:absolute;
            top:50%;
            transform:translateY(-50%);
        }
    }
    
    .home-box-section {
        .home-wrapper {
            .home-carousel-container {
                width: 80%;
            }
        }
    }

    .home-kommu-section {
        .home-articles-container {
            grid-template-areas:
                "article3 article3 article6"
                "article2 article1 article6"
                "article2 article4 article4"
                "article5 article5 article7";
            grid-template-rows: repeat(4, 1fr);
            grid-template-columns: repeat(3, 1fr);
            width: 80%;
        }
    }
}

@media screen and (max-width:768px) {
    :root {
        --items-visible: 1;
    }

    .home-cta {
        .text-intro {
            h1 {
                width: 70%;
            }
        }

        .slogan {
            padding-bottom: 4rem;
        }
    }

    .home-box-section {
        .home-wrapper {
            .home-carousel-container {
                width:60%;
                .home-cards {
                    .home-box-card {
                        width: 100%;
                    }
                }
            }
        }
        
        .dots {
            .visibility-toggle {
                visibility: visible;
            }
        }
    }

    .home-kommu-section {
        .home-articles-container {
            article {
                padding-bottom: 2rem;
            }

            .home-profile {
                padding-bottom: 2rem;

                .home-profile-img {
                    width: 100%;
                }
            }

            .favorite-plate {
                padding-bottom: 4rem;
            }
        }
    }
}

@media screen and (max-width:360px) {
    .home-cta {
        .text-intro {
            h1 {
                width: 80%;
            }

            .slogan {
                max-width: 16ch;
            }
        }
    }

    .home-box-section {
        padding:3rem 0.6rem;
        .home-wrapper {
            .home-carousel-container {
                width:80%;
                .home-cards {
                    .home-box-card {
                        .home-box-left {
                            padding: 0.8rem;
                        }
                    }
                }
            }
        }
    }

    .home-kommu-section {
        .home-articles-container {
            grid-template-areas:
                "article3 article3"
                "article2 article1"
                "article2 article6"
                "article7 article6"
                "article4 article4";
            grid-template-rows: repeat(5, auto);
            grid-template-columns: repeat(2, 1fr);

            #article5 {
                display: none;
            }

            .home-profile {
                padding-bottom: 4rem;

                .home-profile-img {
                    width: 100%;
                }

                p {
                    display: none;
                }
            }

            .favorite-plate {
                padding-bottom: 4rem;

                ul {
                    display: none;
                }
            }
        }
    }
}